/*
  #c2067b
  #79747b
  #820453
  #545454
*/
/**/
body{
  font-family: "Roboto",sans-serif;
}
p{
  text-align: justify;
}


section{
  padding: 10px 0 10px 0;
}

/* navbar */
.navbar {
  display: block;
  width:100%;
  margin:auto;
  position:relative;
  margin: 10px;
  text-align: center;
  background-color: #333;
}
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:100%;
  margin:auto;
  position:relative;
  overflow: hidden;
  background-color: #333;

}

#navbar > li {
  float: left;
}

#navbar >  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  line-height: 25px;
  font-size: 20px;
  text-decoration: none;
}

#navbar > li a:hover {
  background-color: #444;
}

/* header */

.header {
  text-align: center;
  width:100%;
  margin:auto;
  padding: 20px 0 20px 0;
  position:relative;
  background-color: #820453;
}

.profil{
  border-radius:50%;
  max-height: 200px;
  margin-bottom: 20px;
}
.lien{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: start;
  align-items: center;
}
.lien > p{
  color: white;
}
.icon{
  max-height: 40px;
  margin-left: 30px;
}

#description > p {
  color: white;
  text-align: left;
}

#description > h2{
  color: white;
  text-align: center;
}

/* a propos css*/

#apropos{
  background-color: #79747b;
  color: white;
  padding: 20px;
}

#apropos > div >h2 {
  color: #ffffff;
  text-align: center;
}

#apropos-cont {
  width:60%;
  margin:auto;
  position:relative;
  padding-bottom: 10px;
}


/* Progression Bar css */

#progression_cont {
  margin:0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width:80%;
  margin:auto;
  position:relative;
}
.image-cv{
  max-width: 60%;
  display: block;
  margin-left: 10%;
}
#progression_cont > div {
  flex:50;
  padding: 15px;
  margin: 5px;
}

#progression_bars > label{
  line-height: 20px;
  margin-right: 20px;
}

#progression_bars > progress{
  display: block;
  -webkit-appearance: none;
  appearance: none;
  width: 500px;
  height: 12px;
  margin-bottom: 10px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color:#c2067b;
    border-radius: 10px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

#progbar > h1{
  color: #c2067b;
}

#progbar > h2{
  color: #545454;
}

#cv{
  text-align: center;
}

.Documents-btn{
  background-color: #820453;
  color: white;
  padding: 10px;
  margin:0;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
  border-color: #820453;
}

/* containers + text css*/

#container > div >h2 {
  color: #c2067b;
  text-align: center;
}

#containers {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width:80%;
  margin:auto;
  position:relative;
}

#containers > div{
  background: url(./assets/estiam.jpg);
  opacity: 0.3;
  background-size: 100%;

  color: white;
  flex: 50%;
  padding: 15px;
  margin: 5px;
}

/* container image + text css*/

.title-gauche{
  margin-top: 30px 0 30px 0;
  text-align: center;
  color: #c2067b;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width:70%;
  margin:auto;
  position:relative;
  font-size: 115%;
}

#colum-image{
  text-align: center;
  margin-top: 10px;
  width: 80%;
}

.flex-container > div {
  flex: 50%;
  padding-left: 60px;
  padding-right: 60px;
}

.flex-container > div >img {
  justify-content: center;
}

.image-column{
  max-width: 100%;

}

.title-droite{
  margin-top: 30px 0 30px 0;
  text-align: center;
  color: #c2067b;
}

/* Timeline css*/

#container-timeline{
  background-color: #f1eff1;
}

#container-timeline > div > h2{
  color: #c2067b;
  text-align: center;

}

.history-tl-container{
  width:70%;
  text-align: center;
  margin:auto;
  display:block;
  position:relative;
}
.history-tl-container ul.tl{
  margin:20px 0;
  padding:0;
  display:inline-block;

}
.history-tl-container ul.tl li{
  list-style: none;
  margin:auto;
  margin-left:200px;
  text-align: left;
  min-height:50px;
  border-left:1px dashed #c2067b;
  padding:0 0 50px 30px;
  position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
  position: absolute;
  left: -18px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #c2067b;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl li:hover::before{
  border-color:  #c2067b;
  transition: all 1000ms ease-in-out;
}

ul.tl li .item-title{
  color: #c2067b;
}
ul.tl li .item-detail{
  color:#545454;
  font-size:12px;
}
ul.tl li .timestamp{
  color: #545454;
  position: absolute;
  width:100px;
  left: -40%;
  text-align: right;
  font-size: 12px;
}

/* Formulaire */

.cont-formulaire{
  background-color: #79747b;
  color: white;
}

.cont-formulaire > h1{
  text-align: center;
}

#cont-formulaire{
  width:100%;
  margin:auto;
  position:relative;
  text-align: center;
}

.Inputs{
  margin-top: 10px;
}

.Inputs > label{
  margin-right: 10px;
  font-size: larger;
}

.Inputs > select{
  font-size: medium;
}


/* Footer css*/

.footer{
  background-color: #820453;
  padding: 10px 0 10px 0;
  width:100%;
  margin:auto;
  position:relative;
}

.footer > p{
  text-align: center;
  color: white;
}

/*Responsive */

@media (max-width: 1200px) {
  .flex-container, #containers, #progression_cont {
    flex-direction: column;
    width: 90%;
  }

  #colum-image{
    max-width: 800px;
    margin:auto;
    position:relative;
  }

  #progression_cont > #progbar, #progression_cont > #cv{
    margin:auto;
    position:relative;
  }
}

@media (max-width: 900px) {
  .flex-container, #containers , #progression_cont, .lien{
    flex-direction: column;
    width: 90%;
  }

  #progression_cont > #progbar, #progression_cont > #cv{
    margin:auto;
    position:relative;
    width: 95%;
  }

  #progression_bars > progress{
    width: 100%;
  }

  .history-tl-container ul.tl li{
    margin-left:15%;
  }
}


