/*
  #c2067b
  #79747b
  #820453
  #545454
*/
/**/

section{
  margin: 20px 40px 20px 40px;
}

/* navbar */
.navbar {
  display: block;
  width: 100%;
  margin: 10px;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  line-height: 25px;
  font-size: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #444;
}

/* header */

.header {
  text-align: center;
  max-height: 500px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #820453;
}

.profil{
  border-radius:50%;
  max-height: 200px;
  margin-bottom: 20px;
}
.lien{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: start;
  align-items: center;
}
.lien > p{
  color: white;
}
.icon{
  max-height: 40px;
  margin-left: 30px;
}

#description > p {
  color: white;
  text-align: left;
}

#description > h2{
  color: white;
  text-align: center;
}

/* a propos*/

#apropos{
  background-color: #79747b;
  color: white;
  padding : 5%;
}

/* Progression Bar */

#progression_cont {
  margin:0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.image-cv{
  max-width: 60%;
  display: block;
  margin-left: 10%;
}
#progression_cont > div {
  flex:50;
  padding: 15px;
  margin: 5px;
}

#progression_bars > label{
  line-height: 20px;
  margin-right: 20px;
}

#progression_bars > progress{
  display: block;
  -webkit-appearance: none;
  appearance: none;
  width: 500px;
  height: 12px;
  margin-bottom: 10px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color:#c2067b;
    border-radius: 10px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

#progbar > h1{
  color: #c2067b;
}

#progbar > h2{
  color: #545454;
}

#cv{
  text-align: center;
}

.Documents-btn{
  background-color: #820453;
  color: white;
  padding: 10px;
  margin:0;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
  border-color: #820453;
}

/* containers */

#container >h2 {
  color: #c2067b;
  text-align: center;
}

#containers {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#containers > div{
  background-color: #79747b;
  color: white;
  flex: 50%;
  padding: 15px;
  margin: 5px;
}

/* container image + text */

.title-gauche{
  margin-top: 30px 0 30px 0;
  text-align: center;
  color: #c2067b;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#colum-image{
  text-align: center;
}

.flex-container > div {
  flex: 50%;
  padding-left: 60px;
  padding-right: 60px;
}

.flex-container > div >img {
  justify-content:flex-end;
}

.image-column{
  max-width: 100%;

}

.title-droite{
  margin-top: 30px 0 30px 0;
  text-align: center;
  color: #c2067b;
}

/* Footer */

.footer{
  background-color: #820453;
  color: white;
  padding: 20px;
  text-align: center;
}

