.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 50%;
  margin: 5px;
  line-height: 75px;
  font-size: 30px;
}



.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.navbar {
  display: block;
  background-color: #f1f1f1;
  width: 100%;
  margin: 5px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.profil {
  height: 40vmin;
  margin-left: 20%;
}

.header > .header-left {
  width: 30%;
  margin: 5px;
  line-height: 75px;
  font-size: 30px;
}

.header > .header-right {
  width: 70%;
  margin: 5px;
  line-height: 75px;
  font-size: 30px;
}

.icon{
  width: 10%;
  height: 10%;
}
.liens{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: start;
    align-items: center;
}
